<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BuzzwordBingo</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
		    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		    <!-- Optional theme -->
		    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		    <!-- Latest compiled and minified JavaScript -->
		    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Jquery CDN Links -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
{% block body %}
{% endblock %}
</html>
