{% extends "base.html" %}
{% block body %}
<body>
	<!--TODO: Find a way to keep all imports near each other in generated html-->
	<!--TODO: Reference static folder dynamically with url_for function-->
	<script src="/static/js/bingo.js"></script>
	<div class="container-fluid">
		<div class="row">
			<h1>B!NGO BODY!</h1>
			{# Add some safety #}
			{% if ( bingoSet|length % (bingoSet|length**0.5) == 0) %}
				{% set sideSize = (bingoSet|length**0.5)|int %}
				<table class="table table-bordered table-responsive">
					{% for y in range(0, sideSize ) %}
						<tr>
						{% for x in range( 0, sideSize ) %}
                                                        {% set tdName = "cell:{0},{1}".format(y,x) %}
							<td align="center" valign="middle" id= {{ tdName }} onClick="bingoCellClicked(this.id)">
								{{ bingoSet.pop() }}
							</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</table>
			{% else %}
				Error, set not a perfect square.
			{% endif %}
		</div>
	</div>
	<img src = "/static/img/lawnmowerMan.gif">
</body>
{% endblock %}
