{% extends "base.html" %}
{% block body %}
<body>
        <h1>Welcome to the Auto Clarifier</h1>
	<form action="" method="post" name="Clarifications">
		{{form.hidden_tag()}}
		<p>
			Clarification:<br>
			{{form.clarificationText(size=80)}}<br>
		</p>
		<input type="submit" value="Submit">	
	</form>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</p>
</body>
{% endblock %}
