{% extends "base.html" %}
{% block body %}
<body>
	<div class="container-fluid">
		<div class="row">
			<h1>B!NGO BODY!</h1>
			{# Add some safety #}
			{% if ( bingoSet|length % (bingoSet|length**0.5) == 0) %}
				{% set sideSize = (bingoSet|length**0.5)|int %}
				<table class="table table-bordered table-responsive">
					{% for y in range(0, sideSize ) %}
						<tr>
						{% for x in range( 0, sideSize ) %}
                                                        {% set tdName = "cell{0}{1}".format(y,x) %}
							<td align="center" valign="middle" name= {{ tdName }}>
								<button style="width:100%" class="button">{{ bingoSet.pop() }}</button>
							</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</table>
			{% else %}
				Error, set not a perfect square.
			{% endif %}
		</div>
	</div>
</body>
{% endblock %}
